@model string[] //what object to expect
@{
    ViewData["Title"] = "Bogus Page";
    var date = (System.DateTime) ViewData["Date"]!;
}
<h1>@ViewData["Title"]</h1>

<p>This is my first ASP.NET page authored by @ViewData["author"] on @date.ToShortTimeString()</p>

<ul>
@foreach (var item in Model) {
    <li>@item</li>
}
</ul>