@{
    ViewData["Title"] = "Home Page";
    string[]? days = ViewData["days"] as string[];
}

<div class="text-center">
    <h1 class="display-4" style="color: tomato;">Gangmin Bae A01274381</h1>

    <h2>Any Job that pay me well</h2>
</div>

